<div class="item-inner">
  <div class="item-title" {{action view}}>INSPECT</div>
  <div class="item-media lightbreen" {{action badge user}}>BADGE</div>
  <div class="item-media amber" {{action rate user}}>UPVOTE!!</div>
</div>