<div class="buttons-row item-inner">
  <a
    href="#"
    class="button button-fill button-raised color-red"
    {{action view}}
  >
    INSPECT
  </a>
  <a
    href="#"
    class="button button-fill button-raised color-yellow"
    {{action badge user}}
  >
    BADGE
  </a>
  <a
    href="#"
    class="button button-fill button-raised"
    {{action rate user}}
  >
    UPVOTE
  </a>
</div>