<div class="card-content">
  <div class="card-content-inner trophy-container">
    {{#each user.badges as |badge|}}
      {{rating-list-item-badge
        classNames="trophy"
        badge=badge
        deleteBadge=deleteBadge
      }}
    {{/each}}
  </div>
</div>
<div class="point-total card-footer">
  <div class="bg-img pig"></div>
  <div class="point-total-value">{{user.overallScore}} Total points</div>
</div>
<div class="point-total card-footer">
  <div class="bg-img brosty-trophy"></div>
  <div class="point-total-value">{{user.numberOfBrosties}} Brosties</div>
</div>
