@import 'https://fonts.googleapis.com/css?family=Rajdhani';

body {
	/*font-family: 'Rajdhani', sans-serif;*/
}

li.item-content.active-state {
	background-color: #8e8e93;
}

.amber {
  background-color: #ffc107;
}

.amber-text {
	color: #ffc107;
}

.lightgreen {
  background-color: #8bc34a;
}

.green {
	background-color: #4caf50;
}

.silver-text {
  color: #7d7d7d;
}

.silver {
  background-color: #cccccc;
}

.trophy-container {
  display: flex;
  flex-wrap: wrap;
}

.trophy {
  margin: 4px;
  padding: 5px;
  font-size: 18px;
  border-radius: 4px;
  background-color: #bbbaba;
  color: white;
}

.bronze-text {
  color: #cd7f32;
}

.bronze {
  background-color: #cd7f32;
}

.card-footer {
  font-size: 18px;
}

.item-content {
  font-size: 20px;
}

.badge {
  margin-left: 2.5px;
  margin-right: 2.5px;
}

.sign-in {
  margin: 35px 15px -25px;
}