<div class="page">
	<div class="page-content">
	  <div class="content-block-title">LEADERBOARD</div>
		<div class="list-block users">
		  <ul>
				{{#each leaders as |user i|}}
          {{user-list-item
            i=i
            user=user
            toggleIsRating=(action "toggleIsRating")
            isRating=user.isRating
          }}
          {{#liquid-if user.isRating}}
            {{rating-list-item
              user=user
              view=(action "view" user)
              badge=(action "badge")
              rate=(action "rate")
            }}
          {{/liquid-if}}
          {{#liquid-if user.isViewing}}
            {{user-list-item-details
              user=user
              deleteBadge=(action "deleteBadge")
            }}
          {{/liquid-if}}
				{{/each}}
		  </ul>
		</div>
	</div>
</div>
